// Colors
$color-primary: #2980b9;
$color-secondary: #ffffff;

// Fonts
$font-primary: 1.2em Helvetica, "Lucida grande", Arial, sans-serif;
$font-secondary: 0.8em Helvetica, "Lucida grande", Arial, sans-serif;